{% assign font_variable = section.settings.font_variable | split: '|' | first %}
{% render 'main_local-font', font_name: font_variable %}

<div class="section-{{ section.id }}">
  <div class="outer_container_outer_container_class_section outer_container_outer_container_class_section_custom">
  </div>
</div>
